<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>LapTrinhWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>pxu.edu.vn.bai01.HelloForm</servlet-name>
		<servlet-class>pxu.edu.vn.bai01.HelloForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pxu.edu.vn.bai01.HelloForm</servlet-name>
		<url-pattern>/HelloForm</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>Namdeptrai</servlet-name>
		<jsp-file>/dtconfig.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>hoainam</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>nam1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Namdeptrai</servlet-name>
		<url-pattern>/dtconfig</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>username</param-name>
		<param-value>hoainam</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>nam1234</param-value>
	</context-param>
</web-app>